.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
  }

  &__item {
    flex: 1;
    min-width: 0;
    padding: 0 3%;
    position: relative;

    @include phones {
      padding: 0;
      margin-bottom: 25px;
    }

    &:before {
      content: url(../img/icons/separator.svg);
      position: absolute;
      right: 0;
      top: 3.25rem;
      transform: translateX(50%);

      @include tablets {
        display: none;
      }
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;

      &:before {
        display: none;
      }
    }
  }
}
