.benefits {
    display: flex;
    margin-top: 1.875rem;
    max-width: 95%;

    @include phones {
        flex-direction: column;
    }
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include phones {
        padding: 0;
        margin-bottom: 25px;
    }

    &:before {
        content: url(https://rudanastasia.github.io/surfboard/img/icons/separator.png);
        position: absolute;
        right: 0;
        top: 3.25rem;
        transform: translateX(50%);

        @include phones {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }
}
