.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}

.benefit__image {
    @include phones {
        margin-bottom: 0;
        margin-right: 28px;
    }
}


.benefit__image-wrapper {
    display: inline-block;
    width: 7.875rem;
    height: 7.875rem;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 0.625rem;
}

.benefit__icon {
    width: 4.6875rem;
    height: 4.3125rem;
    position: absolute;
    top: 21%;
    left: 21%;
    transform: translate(-50% -50%);
}

.benefit__title {
    font-weight: bold;
    font-size: 1.6875rem;
}

.benefit__desc {
    font-size: 1.125rem;
    line-height: 1.35rem;
    text-align: center;
    width: 17.4375rem;

    @include phones {
        text-align: left;
    }
}
