.footer__container {
    position: relative;
}

.footer {
    display: flex;
    align-items: center;
    padding: 35px 0;

    @include phones {
        display: block;
        margin-left: 127px;
    }
}

.footer-container__section {
    height: 140px;
    margin-top: 12px;
}

.dropdown__footer {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #9A9A9A;
    margin-left: 28px;
    margin-bottom: 5px;
    padding-top: 7px;
}

.socials {
    margin-left: 449px;
    margin-top: 7px;

    @include tablets {
        margin-left: 250px;
    }

    @include phones {
        margin-left: 25px;
    }
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    height: 36px;
    background: center center no-repeat;
    position: relative;
    width: 36px;
}
 
.socials__item--icon--telegram .socials__link {
    background-image: url("http://rudanastasia.github.io/surfboard/img/icons/icon-vk.png");
}
    
.socials__item--icon--telegram .socials__link:hover {
    background-image: url("http://rudanastasia.github.io/surfboard/img/icons/icon-vk-hover.png");
}

.socials__item--icon--vk .socials__link {
    background-image: url("http://rudanastasia.github.io/surfboard/img/icons/icon-facebook.png");
}
    
.socials__item--icon--vk .socials__link:hover {
    background-image: url("http://rudanastasia.github.io/surfboard/img/icons/icon-facebook-hover.png");
}
    
.socials__item--icon--facebook .socials__link {
    background-image: url("http://rudanastasia.github.io/surfboard/img/icons/icon-instagram.png");
}
    
.socials__item--icon--facebook .socials__link:hover {
    background-image: url("http://rudanastasia.github.io/surfboard/img/icons/icon-instagram-hover.png");
}
    
.socials__item--icon--instagram .socials__link {
    background-image: url("http://rudanastasia.github.io/surfboard/img/icons/icon-twitter.png");
}
    
.socials__item--icon--instagram .socials__link:hover {
    background-image: url("http://rudanastasia.github.io/surfboard/img/icons/icon-twitter-hover.png");
}

.contacts {
    margin-left: auto;
}

.contacts__footer {
    position: relative;
    height: 35px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    display: flex;
    align-items: center;
}

.contacts__footer:hover {
    color: #F5170E;
}

.footer__phone-number {
    font-size: 1.5rem;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__phone-number:before {
    background-image: url(https://rudanastasia.github.io/surfboard/img/icons/phone.svg);
    content: url(https://rudanastasia.github.io/surfboard/img/icons/phone.svg);
}

.menu-footer {
    display: flex;
    margin: 0 30px;
    padding-top: 5px;

    @include phones {
        margin: 0 7px;
    }
}

.menu-footer__list {
    display: flex;
    align-items: center;
    /*margin-right: 4.5rem;*/
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
    display: block;
}

.menu-footer__item {
    margin-right: 0.9375rem;
    margin-bottom: 10px;

    &:last-child {
        margin-right: 0;

        @include phones {
            margin-left: 34px;
        }
    }
}