.btn {
    font-size: 1.1875rem;
    font-weight: bold;
    padding: 1.125rem 2.1875rem;
    text-transform: uppercase;
    border-radius: 6.25rem;
    line-height: 1;
    text-decoration: none;
    border: none;

    &--theme--yellow {
        background: #FEDB3F;
        color: black;

        &:hover {
            color: black;
            background: white;
        }
    }

    &--theme--transparent {
        background: transparent;
        color: white;
        text-transform: none;

        &:hover {
            color: #FFD517;
        }
    }
}
