.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $light-black;
  @extend %flex-center;
  z-index: 1;
  text-align: center;
  display: none;
  color: $white;

  &__list {
    margin: 100px 0;
  }

  &__link {
    text-decoration: none;
    font-size: 36px;
    line-height: 72px;
    text-align: center;
    font-weight: 400;

    &:hover {
      color: $yellow;
    }
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 30px;
    background-color: #333537;
    border: none;

    &::before {
      content: '';
      background-color: $white;
      width: 20px;
      height: 2px;
      position: absolute;
      top: 50%;
      transform: rotate(45deg);
    }

    &::after {
      content: '';
      background-color: $white;
      width: 20px;
      height: 2px;
      position: absolute;
      top: 50%;
      transform: rotate(-45deg);
    }
  }
}
