.features {
  margin-top: 17px;

  @include tablets {
    display: none;
  }

  &__list {
    display: flex;
    position: relative;
  }

  &__item {
    margin-right: 2.875rem;
    margin-top: 4.875rem;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: '';
      position: absolute;
    }

    &--design {
      &::before {
        content: url('../img/icons/design.svg');
      }
    }

    &--materials {
      &::before {
        content: url('../img/icons/sawmill.svg');
      }
    }

    &--delivery {
      &::before {
        content: url('../img/icons/delivery.svg');
      }
    }
  }

  &__text {
    font-size: 16px;
    max-width: 5.3125rem;
    color: $white;
    font-weight: bold;
    margin-left: 60px;
  }
}
