.features {
    display: flex;
}

.features__item {
    margin-right: 2.875rem;
    margin-top: 4.875rem;

    &:last-child {
        margin-right: 0;
    }
}

.feature {
    display: flex;

}

.feature__icon {
    width: 2.8125rem;
    margin-right: 0.4375rem;
}

.feature__text {
    font-size: 1rem;
    max-width: 5.3125rem;
    color: white;
    font-weight: bold;
}
