.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 7%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: 1.25rem;

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
}

.form__block {
    flex: 1;
    margin-right: 1.25rem;  

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: 1.125rem 0.6875rem;
    border: solid 0.1875rem transparent;
    border-radius: 3px;

    @include tablets {
        padding: 0.375rem 0.6875rem;
    }

    &--textarea {
        height: 9.25rem;
        resize: none;

        @include tablets {
            height: 6.25rem;
        }

    }

    &:focus {
        border-color: #FEDB3F;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.75rem;

    @include phones {
        justify-content: center;
    }
}

.form__btns {
    margin-top: 3.3125rem;

    @include tablets {
        display: flex;
        justify-content: center;
    }
}

.modal {
    display: none;

    &.error-modal {
        .modal__content {
            color: red;
        }
    }

    /*&.fancybox-content {
        padding: 0 !important;
    }*/

    /*.fancybox-button {
        display: none;
    }*/
}

.modal__container {
    background: white;
    padding: 47px 60px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__content {
    margin-bottom: 15px;
    color: black;
}

.input-error {
    border-color: red;
}
