.hamburger {
  display: none;

  @include tablets {
    position: relative;
    display: block;
    background: $white;
    height: 4px;
    width: 24px;
    border-radius: 10px;
    top: 20px;

    &:after,
    &::before {
      content: '';
      position: absolute;
      display: block;
      background: $white;
      height: 4px;
      width: 24px;
      border-radius: 10px;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }
  }
}
