.hero {
  background: url(../img/cover/bgmain.png) center top / cover no-repeat;
  background-color: $white;
  min-height: 40.625rem;

  @include tablets {
    background: url(../img/cover/tabletsbg.png) center top / cover no-repeat;
    height: 58.5625rem;
  }

  &__container {
    padding: 1.5rem 0 2.8125rem 0;

    @include tablets {
      padding-top: 0;
    }
  }

  &__title-section {
    width: 46%;
    margin-top: 6.6875rem;

    @include tablets {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__main-title {
    @extend %uppercase-title;
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 0.9375rem;
    color: $white;

    @include tablets {
      margin-top: 4.125rem;
    }

    @include phones {
      font-size: 40px;
    }
  }

  &__title-description {
    font-size: 21px;
    margin-bottom: 3.5rem;
    color: $white;
    margin-top: 1.625rem;

    @include phones {
      font-size: $baseFontSize;
    }
  }

  &__icons-section {
    @include tablets {
      display: none;
    }
  }
}
