.products {
  &__section {
    position: relative;
    color: $white;
    background:
      linear-gradient(#0006, #0006),
      url(../img/cover/surfmenu.jpg) center center / cover no-repeat;
    height: 652px;
  }

  &__container {
    height: 100%;
    display: flex;
    justify-content: flex-end;

    @include tablets {
      width: 100%;
    }
  }

  &__title {
    position: absolute;
    color: $white;
    top: 20px;
    left: 20px;
  }
}

.products-menu {
  display: flex;
  height: 100%;

  &__item {
    display: flex;

    &--active {
      position: absolute;
      z-index: 10;
      left: 265px;
      bottom: 0;
      top: 0;
      right: 160px;

      @include tablets {
        left: 0;
      }

      @include phones {
        right: 0;
      }

      > .products-menu__content-text {
        flex: 1;
        width: auto;
        padding: 20px;
        box-sizing: border-box;
        opacity: 0.9;
        z-index: 10;
      }
    }
  }

  &__title {
    position: relative;
    width: 80px;
    text-decoration: none;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;

    &--longboard {
      background: url(../img/cover/long.png) right center no-repeat;
    }

    &--shortboard {
      background: url(../img/cover/short.png) right center no-repeat;
    }

    &--softtop {
      background: url(../img/cover/soft.png) left center no-repeat;
    }
  }

  &__content {
    width: 0;
    position: relative;
    overflow: hidden;
    transition: width 0.7s;
    opacity: 90%;
    background: #333537;
  }

  &__container {
    padding: 40px 73px 45px 26px;
  }

  &__content-text {
    font-size: 16px;
    line-height: 23.99px;
    width: 0;
    padding: 0px;
    overflow: hidden;
    position: relative;
    transition: width 0.7s;
    opacity: 90%;
    background: #333537;
  }

  &__title-text {
    position: absolute;
    left: 50%;
    bottom: 86px;
    transform: rotate(-90deg) translate(-50%, -50%);
    transform-origin: 0 0;
    white-space: nowrap;
  }

  &__close {
    position: absolute;
    top: 28px;
    right: 25px;
    border: none;
    background: transparent;
  }
}
