.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-top: 1.6875rem;
    margin-bottom: -0.4375rem;
    padding-right: 1.6875rem;

    @include tablets {
        margin-top: 1.25rem;
    }

    &--checkbox {
        .radio__visible {
            border-radius: 0;

            &:before {
                background: url(https://rudanastasia.github.io/surfboard/img/icons/checkmark.png) center center no-repeat;
            
            }
        }
    }
}

.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__visible {
    width: 1.625rem;
    height: 1.625rem;
    position: relative;
    border-radius: 50%;
    background: white;
    margin-right: 0.625rem;

    &:before {
        content: "";
        width: 0.875rem;
        height: 0.875rem;
        background: #FEDB3F;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
