.reviews__display {
    background: #F8FAF9;
    padding: 2.625rem 2.4375rem 2.125rem;
}

.reviews__display-inner {
    display: flex;

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.reviews__switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
}
.reviews__avatar {
    width: 15.875rem;
    height: 16.25rem;
    margin-right: 1.25rem;

    @include tablets {
        width: 8.125rem;
        height: 8.125rem;
    }
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__content {
    flex: 1;
}

.reviews__title {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 0.5625rem;
    margin-top: 1.25rem;
    padding-left: 1rem;
}

.reviews__text {
    margin-bottom: 2.25rem;
    padding-left: 1.25rem;
}

.reviews__author {
    font-size: 1.125rem;
    font-weight: bold;
    padding-left: 1.25rem;
}
