.section {
  padding: 60px 0;

  &--dark {
    background: $white-dark;
  }

  &--bg {
    color: $white;
    background: url(../img/cover/foarm-bg.png) center top / cover no-repeat;
  }

  &__title {
    @extend %uppercase-title;
    font-size: 48px;
    margin-bottom: 1.75rem;
    text-align: center;
    color: $black;

    &--light {
      color: $white;
    }

    @include phones {
      font-size: 40px;
    }
  }

  &__subtitle {
    padding: 0 26%;
    margin-bottom: 2.875rem;
    text-align: center;
    color: $grey;

    @include phones {
      padding: 0;
    }
  }
}
